CELERY_BROKER_URL=redis://redis:6379/0
CELERY_RESULT_BACKEND=redis://redis:6379/0
FLOWER_PORT=5555
ENVIRONMENT=dev
TESTING=0
TIMEZONE=America/Bogota
PUBLICHOST=localhost
FTP_USER_NAME=globant
FTP_USER_PASS=globant
FTP_USER_HOME?/home/globant
GF_SECURITY_ADMIN_PASSWORD=123
GF_USERS_ALLOW_SIGN_UP=false